
@{
    ViewBag.Title = "Ürün detay sayfası";
}
<!-- Start Page Title -->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Single Product Left Sidebar</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="separator">&nbsp;</li>
                <li><a href="shop-grid-1.html">Shop Grid Left Sidebar</a></li>
                <li class="separator">&nbsp;</li>
                <li>Single Product Left Sidebar</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Start Page Content -->
<div class="container padding-top-1x padding-bottom-3x">
    <div class="row">
        <!-- Start Product Content -->
        <div class="col-lg-9 order-lg-2">
            <div class="row">
                <!-- Start Product Gallery -->
                <div class="col-md-6">
                    <div class="product-gallery">
                        <span class="product-badge text-danger">20% Off</span>
                        <div class="gallery-wrapper">
                            <div class="gallery-item active"><a href="~/Content/images/shop/single/01.jpg" data-hash="one" data-size="1000x667"></a></div>
                            <div class="gallery-item"><a href="~/Content/images/shop/single/02.jpg" data-hash="two" data-size="1000x667"></a></div>
                            <div class="gallery-item"><a href="~/Content/images/shop/single/03.jpg" data-hash="three" data-size="1000x667"></a></div>
                            <div class="gallery-item"><a href="~/Content/images/shop/single/04.jpg" data-hash="four" data-size="1000x667"></a></div>
                            <div class="gallery-item"><a href="~/Content/images/shop/single/05.jpg" data-hash="five" data-size="1000x667"></a></div>
                        </div>
                        <div class="product-carousel owl-carousel">
                            <div data-hash="one"><img src="~/Content/images/shop/single/01.jpg" alt="Product"></div>
                            <div data-hash="two"><img src="~/Content/images/shop/single/02.jpg" alt="Product"></div>
                            <div data-hash="three"><img src="~/Content/images/shop/single/03.jpg" alt="Product"></div>
                            <div data-hash="four"><img src="~/Content/images/shop/single/04.jpg" alt="Product"></div>
                            <div data-hash="five"><img src="~/Content/images/shop/single/05.jpg" alt="Product"></div>
                        </div>
                        <ul class="product-thumbnails with-sidebar">
                            <li class="active"><a href="#one"><img src="~/Content/images/shop/single/th01.jpg" alt="Product"></a></li>
                            <li><a href="#two"><img src="~/Content/images/shop/single/th02.jpg" alt="Product"></a></li>
                            <li><a href="#three"><img src="~/Content/images/shop/single/th03.jpg" alt="Product"></a></li>
                            <li><a href="#four"><img src="~/Content/images/shop/single/th04.jpg" alt="Product"></a></li>
                            <li><a href="#five"><img src="~/Content/images/shop/single/th05.jpg" alt="Product"></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Product Gallery -->
                <!-- Start Product Info -->
                <div class="col-md-6 single-shop">
                    <div class="hidden-md-up"></div>
                    <div class="rating-stars">
                        <i class="icon-star filled"></i>
                        <i class="icon-star filled"></i>
                        <i class="icon-star filled"></i>
                        <i class="icon-star filled"></i>
                        <i class="icon-star filled"></i>
                    </div>
                    <span class="text-muted align-middle">&nbsp;&nbsp;5 | 13 Customer Reviews</span>
                    <h2 class="padding-top-1x text-normal with-side">iPhone X Gold 128GB</h2>
                    <span class="h2 d-block with-side"><del class="text-muted text-normal">$899.00</del>&nbsp; $749.60</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five ...</p>
                    <div class="row margin-top-1x">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="size">Memory Size</label>
                                <select class="form-control" id="size">
                                    <option>Chooze Size</option>
                                    <option>16GB</option>
                                    <option>32GB</option>
                                    <option>64GB</option>
                                    <option>128GB</option>
                                    <option>256GB</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="color">Choose Color</label>
                                <select class="form-control" id="color">
                                    <option>White / Red / Blue</option>
                                    <option>Black / Orange / Green</option>
                                    <option>Gray / Purple / White</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="quantity">Quantity</label>
                                <select class="form-control" id="quantity">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="pt-1 mb-2"><span class="text-medium">SKU:</span> #17685932</div>
                    <div class="padding-bottom-1x mb-2">
                        <span class="text-medium">Categories:&nbsp;</span>
                        <a class="navi-link" href="#">Apple,</a>
                        <a class="navi-link" href="#"> Smartphone,</a>
                        <a class="navi-link" href="#"> Mobile</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr class="mt-30 mb-30">
                    <div class="d-flex flex-wrap justify-content-between mb-30">
                        <div class="entry-share">
                            <span class="text-muted">Share:</span>
                            <div class="share-links">
                                <a class="social-button shape-circle sb-facebook" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                    <i class="socicon-facebook"></i>
                                </a>
                                <a class="social-button shape-circle sb-twitter" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                    <i class="socicon-twitter"></i>
                                </a>
                                <a class="social-button shape-circle sb-instagram" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                                    <i class="socicon-instagram"></i>
                                </a>
                                <a class="social-button shape-circle sb-google-plus" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google +">
                                    <i class="socicon-googleplus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="sp-buttons mt-2 mb-2">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist">
                                <i class="icon-heart"></i>
                            </button>
                            <button class="btn btn-primary" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="icon-bag"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!-- End Product Info -->
                <!-- Start Product Tabs -->
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item"><a class="nav-link active" href="#description" data-toggle="tab" role="tab">Description</a></li>
                        <li class="nav-item"><a class="nav-link" href="#reviews" data-toggle="tab" role="tab">Reviews</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="description" role="tabpanel">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <p class="mb-30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                            <!-- Start Review #1 -->
                            <div class="comment">
                                <div class="comment-author-ava"><img src="~/Content/images/reviews/01.jpg" alt="Review Author"></div>
                                <div class="comment-body">
                                    <div class="comment-header d-flex flex-wrap justify-content-between">
                                        <h4 class="comment-title">Lorem Ipsum is simply dummy</h4>
                                        <div class="mb-2">
                                            <div class="rating-stars"><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i></div>
                                        </div>
                                    </div>
                                    <p class="comment-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                    <div class="comment-footer"><span class="comment-meta">John Doe</span></div>
                                </div>
                            </div>
                            <!-- End Review #1 -->
                            <!-- Start Review #2 -->
                            <div class="comment">
                                <div class="comment-author-ava"><img src="~/Content/images/reviews/02.jpg" alt="Review Author"></div>
                                <div class="comment-body">
                                    <div class="comment-header d-flex flex-wrap justify-content-between">
                                        <h4 class="comment-title">Lorem Ipsum is simply dummy</h4>
                                        <div class="mb-2">
                                            <div class="rating-stars"><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i></div>
                                        </div>
                                    </div>
                                    <p class="comment-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                    <div class="comment-footer"><span class="comment-meta">Julia Smith</span></div>
                                </div>
                            </div>
                            <!-- End Review #2 -->
                            <!-- Start Review #3 -->
                            <div class="comment">
                                <div class="comment-author-ava"><img src="~/Content/images/reviews/03.jpg" alt="Review Author"></div>
                                <div class="comment-body">
                                    <div class="comment-header d-flex flex-wrap justify-content-between">
                                        <h4 class="comment-title">Lorem Ipsum is simply dummy</h4>
                                        <div class="mb-2">
                                            <div class="rating-stars"><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i></div>
                                        </div>
                                    </div>
                                    <p class="comment-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                    <div class="comment-footer"><span class="comment-meta">Rick Armstrong</span></div>
                                </div>
                            </div>
                            <!-- End Review #3 -->
                            <!-- Start Review Form -->
                            <h5 class="mb-30 padding-top-1x">Leave Review</h5>
                            <form class="row" method="post">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="review_name">Your Name</label>
                                        <input class="form-control form-control-rounded" type="text" id="review_name" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="review_email">Your Email</label>
                                        <input class="form-control form-control-rounded" type="email" id="review_email" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="review_subject">Your Subject</label>
                                        <input class="form-control form-control-rounded" type="text" id="review_subject" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="review_rating">Your Rate</label>
                                        <select class="form-control form-control-rounded" id="review_rating">
                                            <option>5 Stars</option>
                                            <option>4 Stars</option>
                                            <option>3 Stars</option>
                                            <option>2 Stars</option>
                                            <option>1 Star</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="review_text">Review </label>
                                        <textarea class="form-control form-control-rounded" id="review_text" rows="8" required></textarea>
                                    </div>
                                </div>
                                <div class="col-12 text-right">
                                    <button class="btn btn-outline-primary" type="submit">Submit Review</button>
                                </div>
                            </form>
                            <!-- End Review Form -->
                        </div>
                    </div>
                </div>
                <!-- End Product Tabs -->
            </div>
        </div>
        <!-- End Product Content -->
        <!-- Start Sidebar -->
        <div class="col-lg-3 order-lg-1 hidden-md-down">
            <aside class="sidebar">
                <div class="padding-top-1x hidden-md-up"></div>
                <!-- Start Popular Brands -->
                <section class="widget widget-categories">
                    <h3 class="widget-title">Popular Brands</h3>
                    <ul>
                        <li><a href="shop-grid-1.html">Apple</a><span>(254)</span></li>
                        <li><a href="shop-grid-1.html">Samsung</a><span>(39)</span></li>
                        <li><a href="shop-grid-1.html">Sony</a><span>(205)</span></li>
                        <li><a href="shop-grid-1.html">Panasonic</a><span>(128)</span></li>
                        <li><a href="shop-grid-1.html">Lenovo</a><span>(104)</span></li>
                        <li><a href="shop-grid-1.html">Asus</a><span>(217)</span></li>
                        <li><a href="shop-grid-1.html">Motorola</a><span>(95)</span></li>
                        <li><a href="shop-grid-1.html">Nokia</a><span>(310)</span></li>
                        <li><a href="shop-grid-1.html">Microsoft</a><span>(134)</span></li>
                        <li><a href="shop-grid-1.html">Zetra</a><span>(73)</span></li>
                        <li><a href="shop-grid-1.html">Android</a><span>(446)</span></li>
                        <li><a href="shop-grid-1.html">Google</a><span>(87)</span></li>
                        <li><a href="shop-grid-1.html">Facebook</a><span>(42)</span></li>
                        <li><a href="shop-grid-1.html">Yahoo</a><span>(289)</span></li>
                        <li><a href="shop-grid-1.html">Twitter</a><span>(68)</span></li>
                        <li><a href="shop-grid-1.html">Youtube</a><span>(205)</span></li>
                        <li><a href="shop-grid-1.html">Instagram</a><span>(128)</span></li>
                    </ul>
                </section>
                <!-- End Popular Brands -->
                <!-- Start Promo Banner -->
                <section class="promo-box shop-promo">
                    <div class="promo-box-content text-center padding-top-3x padding-bottom-2x">
                        <h4 class="text-light text-thin text-shadow">New Collection of</h4>
                        <h3 class="text-bold text-light text-shadow">Smartphones</h3>
                        <a class="btn btn-sm btn-primary" href="#">Shop Now</a>
                    </div>
                </section>
                <!-- End Promo Banner -->
            </aside>
        </div>
        <!-- End Sidebar -->
    </div>
    <!-- Start Related Products -->
    <h3 class="text-center padding-top-3x mb-30">Releted Products</h3>
    <div class="owl-carousel" data-owl-carousel='{ "nav": false, "dots": false, "margin": 30, "responsive": {"0":{"items":1},"576":{"items":2},"768":{"items":3},"991":{"items":4},";1200":{"items":4}} }'>
        <!-- Start Product #1 -->
        <div class="grid-item">
            <div class="product-card">
                <a class="product-thumb" href="shop-single-3.html">
                    <img src="~/Content/images/shop/products/01.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-3.html">iPhone X</a></h3>
                <h4 class="product-price">$749.99</h4>
                <div class="product-buttons">
                    <div class="product-buttons">
                        <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                            <i class="icon-heart"></i>
                        </button>
                        <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Product #1 -->
        <!-- Start Product #2 -->
        <div class="grid-item">
            <div class="product-card">
                <div class="rating-stars">
                    <i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i>
                </div>
                <a class="product-thumb" href="shop-single-2.html">
                    <img src="~/Content/images/shop/products/05.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-2.html">Panasonic TX-32</a></h3>
                <h4 class="product-price">$949.50</h4>
                <div class="product-buttons">
                    <div class="product-buttons">
                        <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                            <i class="icon-heart"></i>
                        </button>
                        <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Product #2 -->
        <!-- Start Product #3 -->
        <div class="grid-item">
            <div class="product-card">
                <a class="product-thumb" href="shop-single-3.html">
                    <img src="~/Content/images/shop/products/09.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-3.html">Sony HDR-AS50R</a></h3>
                <h4 class="product-price">$700.00</h4>
                <div class="product-buttons">
                    <div class="product-buttons">
                        <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                            <i class="icon-heart"></i>
                        </button>
                        <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Product #3 -->
        <!-- Start Product #4 -->
        <div class="grid-item">
            <div class="product-card">
                <div class="rating-stars">
                    <i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i>
                </div>
                <a class="product-thumb" href="shop-single-2.html">
                    <img src="~/Content/images/shop/products/13.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-2.html">HP LaserJet Pro 200</a></h3>
                <h4 class="product-price">$249.50</h4>
                <div class="product-buttons">
                    <div class="product-buttons">
                        <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                            <i class="icon-heart"></i>
                        </button>
                        <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Product #4 -->
        <!-- Start Product #5 -->
        <div class="grid-item">
            <div class="product-card">
                <a class="product-thumb" href="shop-single-3.html">
                    <img src="~/Content/images/shop/products/17.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-3.html">Apple Watch 3</a></h3>
                <h4 class="product-price">$449.00</h4>
                <div class="product-buttons">
                    <div class="product-buttons">
                        <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                            <i class="icon-heart"></i>
                        </button>
                        <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Product #5 -->
        <!-- Start Product #6 -->
        <div class="grid-item">
            <div class="product-card">
                <div class="rating-stars">
                    <i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i>
                </div>
                <a class="product-thumb" href="shop-single-2.html">
                    <img src="~/Content/images/shop/products/21.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-2.html">Acer Aspire 15.6 i3</a></h3>
                <h4 class="product-price">$649.50</h4>
                <div class="product-buttons">
                    <div class="product-buttons">
                        <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                            <i class="icon-heart"></i>
                        </button>
                        <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Product #6 -->
    </div>
    <!-- End Related Products -->
</div>
<!-- End Page Content -->